<style rel="stylesheet" href="app.component.css"></style>
<section>
  <h1>Lista de Usuarios</h1>
</section>

<button (click)="getAllUsuarios()">Buscar usuarios</button>

<h4><strong> Dados Pessoais:</strong></h4>
<br>
<ul *ngFor="let u of usuarios">
<hr/>
  <li><strong>ID:</strong>{{ u.id }}</li>
  <li><strong>Name:</strong> {{ u.name }}</li>
  <li><strong>Email:</strong> {{ u.email }}</li>
  <li><strong>Telefone:</strong> {{ u.phone }}</li>
  <li><strong>Endereço:</strong>{{ u.address.city }}, {{ u.address.street }}, {{ u.address.city }} </li>
</ul>



